<div class="container">
    <h3>This is a demo fro a Single Page Application using Sails.js (back-end) and AngularJs(front-end).</h3>
    <p>The goal is to demonstrate a simple CRUD operation on employee record.</p>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3"><hr></div>
    </div>
    
    
    <p>Sails.js is connected to mongoLab database.</p>
    <p>On success connection there sould be one record display in employee table.</p>
    <p>Front-end technologies use: Boostrap3, Ui-Boostrap and Angular Material.</p>
    <p>Layout is fully responsive.</p>
    
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3"><hr></div>
    </div>

    <p>Please feel free to report any bugs to maciekg81@gmail.com</p>

</div>